@use "../foundation/pxvw.scss" as vwsp;
@use "../foundation/breakPoint.scss" as bp;
@use "../foundation/text.scss" as text;

/*
  Fortmat_3 
    - エンジニア
    - ゲーム
    - 臨床検査技師
    - 臨床工学技士
    - 放射線技師
*/

.Format_3 {
  .switchButton {
    border-radius: 8px;
    border: 1px solid var(--deep-blue, #081059);
    background: var(--white, #fff);
    box-shadow: 0px 2px 0px 0px #081059;
    color: var(--deep-blue, #081059);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
    height: 110px;
    &_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    &_content {
      display: grid;
      gap: 10px;
      place-items: center;
    }
    &.-small {
      height: 60px;
    }
    .on {
      display: none;
    }
    &.is-active {
      color: white;
      border: 1px solid var(--gold, #b59443);
      background: var(--turquoise, #168ab1);
      box-shadow: 0px -2px 0px 0px var(--gold, #b59443);
      .off {
        display: none;
      }
      .on {
        display: block;
      }
    }
  }

  .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--deep-blue, #081059);
    @include text.h3;
    margin-bottom: 4px;
  }

  .select {
    background: var(--pale-blue, #f2f7f9);
    padding: 24px 15px;
    .lead {
      color: var(--deep-blue, #081059);
      text-align: center;
      font-family: "Noto Sans JP";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .title {
      color: var(--gold, #b59443);
      text-align: center;
      @include text.h2;
    }
    .switchButton_wrapper {
      margin-top: 30px;
    }
  }

  .contents {
    display: none;
    &.is-visible {
      display: block;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &.is-visible.fade-in {
      opacity: 1;
    }
    .wrapper {
      padding: 0 16px 40px;
    }
    .bg {
      background: linear-gradient(180deg, #f2f7f9 0%, #fff 100%);
      padding-bottom: 22px;
    }
    .arrow {
      width: 32px;
      margin-inline: auto;
    }
    .label {
      color: var(--white, #fff);
      text-align: center;
      @include text.h3;
      border-radius: 8px;
      border: 1px solid var(--gold, #b59443);
      background: var(--turquoise, #168ab1);
      padding: 2px 10px 4px;
    }
    .jobs {
      margin-top: 15px;
      &_title {
        background: var(--deep-blue, #081059);
        color: var(--white, #fff);
        text-align: center;
        font-size: 12px;
        padding: 7px 10px;
        span {
          color: #dcbd6f;
          font-weight: bold;
        }
      }
      &_list {
        background: var(--light-gray, #f0f0f0);
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        gap: 10px 0;
        li {
          text-align: left;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          &:before {
            content: "・";
            -webkit-text-stroke-width: 3px;
          }
        }
      }
    }
  }

  .compare {
    margin-top: 40px;
    display: grid;
    gap: 20px;
  }

  .sample {
    background: var(--light-gray, #f0f0f0);
    padding: 30px 0 50px;
    .header {
      padding: 0 16px 16px;
    }
    .swiper {
      padding-bottom: 40px;
    }
    &_title {
      color: var(--gold, #b59443);
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px; /* 125% */
    }
    &_lead {
      color: var(--dark-gray, #2b2b2b);
      text-align: center;
      @include text.sub;
      margin-top: 24px;
    }
    .arrow {
      width: 24px;
      margin-inline: auto;
    }
    .switchButton_wrapper {
      margin-block: 14px 18px;
    }
    .card {
      background: white;
      &_header {
        background: var(--deep-blue, #081059);
        color: var(--white, #fff);
        font-weight: bold;
        padding: 11px 10px 13px;
        text-align: center;
      }
      &_image {
        width: 100%;
        height: 168px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &_contents {
        display: grid;
        gap: 16px;
        padding: 20px;
      }
      &_info {
        display: grid;
        gap: 8px;
        &_item {
          display: grid;
          grid-template-columns: 20% 1fr;
          width: 100%;
        }
        &_title {
          background: var(--deep-blue, #081059);
          color: var(--white, #fff);
          font-weight: bold;
          padding: 9px 10px 11px;
          text-align: center;
          height: 100%;
          display: grid;
          place-items: center;
        }
        &_text {
          border: 2px solid var(--light-gray, #f0f0f0);
          border-left: unset;
          height: 100%;
          padding: 9px 10px 11px;
          text-align: center;
          height: 100%;
          display: grid;
          place-items: center;
        }
      }
      &_list {
        display: grid;
        gap: 8px;
        li {
          @include text.sub;
          display: flex;
          align-items: center;
          gap: 10px;
          &:before {
            content: "";
            display: block;
            width: 15px;
            height: 14px;
            background: center/cover no-repeat url("../../images/ico_check.svg");
            flex-shrink: 0;
          }
        }
      }
      &_footer {
        border-top: 2px solid var(--light-gray, #f0f0f0);
        padding: 8px 18px 24px;
        display: grid;
        gap: 5px;
        img {
          height: 33px;
          margin-inline: auto;
        }
      }
    }
  }

  .ranking {
    .header {
      padding: 28px 16px 0;
    }
    &_title {
      color: var(--gold, #b59443);
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px; /* 125% */
    }
    &_lead {
      color: var(--dark-gray, #2b2b2b);
      text-align: center;
      @include text.sub;
      margin-top: 24px;
    }
    .arrow {
      width: 24px;
      margin-inline: auto;
    }
    .switchButton_wrapper {
      margin-block: 14px 18px;
    }
  }

  &_b_buttons {
    display: grid;
    gap: 16px;
    margin-top: 24px;
  }

  &_b_button {
    border-radius: 8px;
    border: 1px solid var(--gold, #b59443);
    background: var(--white, #fff);
    box-shadow: 0px 3px 0px 0px #b59443;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 10px 10px 15px;
    &_texts {
      text-align: center;
    }
    &_text {
      @include text.h3;
      color: var(--deep-blue, #081059);
      b {
        @include text.h2;
        color: var(--turquoise, #168ab1);
      }
    }
    &_subText {
      color: var(--gold, #b59443);
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &_b_compare {
    padding: 30px 0 10px 0;
    margin: 0 0 50px 0;
    &_table {
      margin-top: 20px;
      &_wrapper {
        padding-bottom: 10px;
        margin-inline: 16px;
        overflow-x: scroll;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 60px;
          height: 180px;
          background: center/contain no-repeat
            url("../../images/btn_scroll_right.png");
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.2s;
        }
        &.is-scrolled {
          &:after {
            opacity: 0;
          }
        }
        &::-webkit-scrollbar {
          height: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--turquoise, #168ab1);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: var(--pale-blue, #f2f7f9);
          box-shadow: 0px 1px 1px 0px rgba(65, 90, 98, 0.25) inset;
          border-radius: 10px;
        }
      }
      th,
      td {
        border: 2px solid var(--light-gray, #f0f0f0);
        white-space: nowrap;
        vertical-align: middle;
        width: 160px;
      }

      th {
        border: 2px solid var(--light-gray, #f0f0f0);
        background: var(--deep-blue, #081059);
        color: white;
        padding: 14px;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
      }
      td {
        border: 2px solid var(--light-gray, #f0f0f0);
        padding: 14px;
        vertical-align: middle;
      }
      &_header {
        display: grid;
        place-items: center;
        gap: 10px;
        a {
          color: var(--deep-blue, #081059);
          padding-bottom: 4px;
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          border-bottom: 1px dashed var(--deep-blue, #081059);
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 14px;
          }
        }
      }
      &_content {
        display: grid;
        place-items: center;
        width: 160px;
        &_item {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      .text {
        font-size: 12px;
        white-space: wrap;
        width: 140px;
      }
      .value {
        color: var(--deep-blue, #081059);
        font-weight: bold;
        font-size: 12px;
      }
      b {
        color: var(--deep-blue, #081059);
        @include text.h2;
      }
      .Button-small {
        margin: 0;
      }
    }
  }
}
