@use "../foundation/pxvw.scss" as vwsp;
@use "../foundation/breakPoint.scss" as bp;
@use "../foundation/text.scss" as text;

.Top {
  .main {
    position: relative;
    img {
      width: 100%;
    }
    .date {
      font-size: min(vwsp.vwsp(20), 30px);
      background: white;
      border-radius: 100vh;
      padding: 0.25em 1em;
      display: grid;
      place-items: center;
      position: absolute;
      top: min(vwsp.vwsp(60), 120px);
      left: 50%;
      transform: translateX(-50%);
      span {
        background: linear-gradient(90deg, #b59443, #8a6b1d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }

  .banners {
    margin-top: 8px;
    .title {
      color: var(--gold, #b59443);
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      padding: 0 10px;
    }
    .logos {
      height: 10.6vw;
      width: 100%;
      margin: 0 0 20px;
      display: flex;
      overflow: hidden;
      @include bp.pc {
        height: 80px;
        width: 750px;
        margin: 0 0 30px;
      }
      .logo {
        width: auto;
        height: 100%;
        max-width: unset;
        &:first-child {
          animation: slide1 60s -30s linear infinite;
        }
        &:last-child {
          animation: slide2 60s 0s linear infinite;
        }
      }
    }
    @keyframes slide1 {
      0% {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
    }

    @keyframes slide2 {
      0% {
        transform: translateX(0);
      }
      to {
        transform: translateX(-200%);
      }
    }
  }

  .pages {
    margin-top: 16px;
    display: grid;
    gap: 24px;
    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 10px;
    }

    .link {
      border-radius: 8px;
      background: white;
      box-shadow: 0px 3px 0px 0px #b59443;
      text-align: center;
      display: grid;
      place-items: center;
      padding: 10px 4px 14px;
      span {
        display: block;
        line-height: 1.3;
      }
      i {
        margin-bottom: 6px;
      }
      .title {
        @include text.h3;
        color: var(--gold, #b59443);
      }
      .text {
        color: var(--deep-blue, #081059);
      }

      &.-full {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        i {
          margin-bottom: unset;
        }
      }
    }
  }

  .compare {
    padding: 24px 15px 34px;
    display: grid;
    gap: 30px;
  }

  .check {
    background: var(--light-gray, #f0f0f0);
    padding: 20px 15px 34px;
    .title {
      @include text.h3;
      color: var(--gold, #b59443);
      text-align: center;
    }
    .toggle {
      display: none;
    }
    .expand {
      border-radius: 8px;
      width: 100%;
      display: block;
      padding-block: 10px 13px;
      background: var(--deep-blue, #081059);
      color: white;
      margin-top: 16px;
      span {
        display: block;
        text-align: center;
        position: relative;
        &:before,
        &:after {
          content: "";
          display: block;
          width: 18px;
          height: 2px;
          background: white;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          transition: all 0.2s;
        }
        &:after {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
    .content {
      background: var(--pale-blue, #f2f7f9);
      border-radius: 8px;
      margin-top: 8px;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    .toggle:checked + .expand + .content {
      height: auto;
      opacity: 1;
      padding: 18px 14px;
      transition: opacity 0.2s;
    }
    .toggle:checked + .expand {
      span {
        &:after {
          transform: translateY(-50%) rotate(0);
        }
      }
    }
    .content {
      background: var(--white, #fff);
      border-radius: 8px;
      display: grid;
      place-items: center;
      gap: 20px;
      &_title {
        color: var(--deep-blue, #081059);
        text-align: center;
        @include text.h3;
        border-bottom: 2px dashed var(--light-gray, #f0f0f0);
        padding-bottom: 8px;
      }
    }
    .point {
      border-radius: 8px;
      border: 2px solid var(--light-gray, #f0f0f0);
      background: var(--white, #fff);
      padding: 0 0 18px 18px;
      &_title {
        color: var(--deep-blue, #081059);
        @include text.h3;
        display: flex;
        align-items: flex-end;
        gap: 6px;
        margin-top: -1px;
        &:before {
          content: "";
          display: block;
          width: 15px;
          height: 33px;
          background: center/cover no-repeat
            url("../..//images/img_point_ribbon.svg");
        }
      }
      &_contents {
        display: flex;
        gap: 16px;
        margin-top: 20px;
      }
      &_text {
        width: 184px;
      }
      &_image {
        flex: 1;
        img {
          width: 144px;
          display: block;
        }
      }
    }
  }

  .ranking {
    padding: 33px 15px 0;
  }
}
