@use "../foundation/text.scss" as text;

.InterviewWithExpert {
  padding: 36px 15px 20px;
  .lead {
    @include text.h3;
    color: var(--deep-blue, #081059);
    text-align: center;
  }
  .title {
    @include text.h2;
    color: var(--gold, #b59443);
    text-align: center;
  }
  .list {
    margin: 30px auto 0;
    display: grid;
    gap: 30px;
    max-width: 400px;
    li {
      display: grid;
      place-items: center;
    }
    &_contents {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-top: 20px;
      img {
        max-width: 116px;
      }
    }
  }
  .arrow {
    display: grid;
    place-items: center;
    margin-top: 32px;
    img {
      width: 39px;
    }
  }
}
