@use "../foundation/text.scss" as text;

.SearchCategories {
  padding: 40px 30px;
  .title {
    @include text.h2;
    color: var(--gold, #b59443);
    text-align: center;
  }
  .toggle {
    display: none;
  }
  .expand {
    border-radius: 8px;
    display: flex;
    color: var(--deep-blue, #081059);
    margin-top: 16px;
    border: 1px solid var(--deep-blue, #081059);
    overflow: hidden;
    &_icon {
      background: var(--deep-blue, #081059);
      display: grid;
      place-items: center;
      width: 60px;
    }
    &_texts {
      display: block;
      position: relative;
      padding: 10px 15px;
      width: 100%;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 18px;
        height: 2px;
        background: var(--deep-blue, #081059);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        transition: all 0.2s;
      }
      &:after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    &_title {
      font-weight: 700;
      display: block;
    }
    &_text {
      @include text.sub;
      display: block;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    a {
      border-radius: 8px;
      border: 1px solid var(--deep-blue, #081059);
      background: var(--light-gray, #f0f0f0);
      color: var(--deep-blue, #081059);
      box-shadow: 0px 1px 0px 0px #081059;
      display: grid;
      place-items: center;
      padding-block: 12px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 4px;
        height: 9px;
        background: center/cover no-repeat
          url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226%22%20height%3D%2211%22%20viewBox%3D%220%200%206%2011%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1%201L5%205.5L1%2010%22%20stroke%3D%22%23081059%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
      }
    }
  }
  .toggle:checked + .expand + .content {
    height: auto;
    opacity: 1;
    padding: 12px 0;
    transition: opacity 0.2s;
  }
  .toggle:checked + .expand {
    span {
      &:after {
        transform: translateY(-50%) rotate(0);
      }
    }
  }
}
