<div class="CompareTable">
  <table>
    <tr>
      <th>転職サービス</th>
      <th>総合評価</th>
      <th>求人数</th>
      <th>特徴</th>
    </tr>
    <tr>
      <td>
        <div class="info">
          <div class="ranking">
            <img src="images/ico_crown_gold.svg" alt="">
            <span class="text">No.1</span>
          </div>
          <figure class="logo">
            <img src="images/logo/bizreach_small.png" alt="">
          </figure>
          <p class="text">
            利用満足度No.1<br>
            年収500万円以上に◎
          </p>
          <a href="#" class="Button Button-small">
            公式サイト
          </a>
        </div>
      </td>
      <td>
        <p class="rate js-rate">4.8</p>
        {{> smallStars}}
      </td>
      <td>
        <div class="amount">
          <p class="text"><b>13.2</b>万件</p>
          <img class="evaluation" src="images/ico_compare_circle_double.svg" alt="">
        </div>
      </td>
      <td>
        <div class="detail">
          <p class="text"><span class="Highlight">年収500万以上</span>は登録必須！<br>
            <span class="Highlight">利用満足度No.1</span>のハイクラス転職サービス
          </p>
          <a class="link">もっと詳しく</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="info">
          <div class="ranking">
            <span class="text">No.2</span>
          </div>
          <figure class="logo">
            <img src="images/logo/recruit_agent_small.png" alt="">
          </figure>
          <p class="text">
            圧倒的求人数！<br>
            業種問わず登録必須
          </p>
          <a href="#" class="Button Button-small">
            公式サイト
          </a>
        </div>
      </td>
      <td>
        <p class="rate js-rate">4.5</p>
        {{> smallStars}}
      </td>
      <td>
        <div class="amount">
          <p class="text"><b>36</b>万件</p>
          <img class="evaluation" src="images/ico_compare_circle_single.svg" alt="">
        </div>
      </td>
      <td>
        <div class="detail">
          <p class="text">
            転職といえばリクルート！<br><span class="Highlight">転職支援実績No.1</span>の最大手転職エージェント
          </p>
          <a class="link">もっと詳しく</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="info">
          <div class="ranking">
            <span class="text">No.3</span>
          </div>
          <figure class="logo">
            <img src="images/logo/doda_small.png" alt="">
          </figure>
          <p class="text">
            利用満足度No.1※<br>
            好条件の独占求人多数
          </p>
          <a href="#" class="Button Button-small">
            公式サイト
          </a>
        </div>
      </td>
      <td>
        <p class="rate js-rate">4.0</p>
        {{> smallStars}}
      </td>
      <td>
        <div class="amount">
          <p class="text"><b>20</b>万件</p>
          <img class="evaluation" src="images/ico_compare_triangle.svg" alt="">
        </div>
      </td>
      <td>
        <div class="detail">
          <p class="text">
            <span class="Highlight">転職者利用満足度No.1</span>を獲得！<sup>※</sup><br>全職種の求人に強い大手転職エージェント
          </p>
          <a class="link">もっと詳しく</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="info">
          <div class="ranking">
            <span class="text">No.4</span>
          </div>
          <figure class="logo">
            <img src="images/logo/mynavi_agent_small.png" alt="">
          </figure>
          <p class="text">
            丁寧なサポートで評判<br>
            独自求人も多数！
          </p>
          <a href="#" class="Button Button-small">
            公式サイト
          </a>
        </div>
      </td>
      <td>
        <p class="rate js-rate">3.7</p>
        {{> smallStars}}
      </td>
      <td>
        <div class="amount">
          <p class="text">非公開</p>
          <img class="evaluation -empty" src="images/ico_compare_line.svg" alt="">
        </div>
      </td>
      <td>
        <div class="detail">
          <p class="text">
            他社にはない<span class="Highlight">求人マッチング力</span>！若手からミドル層まで幅広い人気をもつ大手転職エージェント
          </p>
          <a class="link">もっと詳しく</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="info">
          <div class="ranking">
            <span class="text">No.5</span>
          </div>
          <figure class="logo">
            <img src="images/logo/hataractive.png" alt="">
          </figure>
          <p class="text">
            内定率80%超え<br>
            未経験層の転職に◎
          </p>
          <a href="#" class="Button Button-small">
            公式サイト
          </a>
        </div>
      </td>
      <td>
        <p class="rate js-rate">3.4</p>
        {{> smallStars}}
      </td>
      <td>
        <div class="amount">
          <p class="text">非公開</p>
          <img class="evaluation -empty" src="images/ico_compare_line.svg" alt="">
        </div>
      </td>
      <td>
        <div class="detail">
          <p class="text">
            最短2週間で内定も！<br><span class="Highlight">未経験職種への就職に強み</span>を持つ大手就職支援サービス。
          </p>
          <a class="link">もっと詳しく</a>
        </div>
      </td>
    </tr>
  </table>
</div>