<section class="InterviewWithExpert">
  <p class="lead">経験者に聞いてみた！</p>
  <h3 class="title">就職・転職成功者の共通点</h3>
  <ul class="list">
    <li>
      <img class="list_title" src="images/title_experienced_1.svg" alt="">
      <div class="list_contents">
        <img src="images/img_experienced_1.png" alt="">
        <p class="list_text">
          複数のエージェントの活用は複数登録をオススメします。1サイトのみでの転職活動より<span
            class="Highlight">幅広い求人提案を受けることができ、</span>ご希望の条件に合うお仕事が見つかる可能性が高まります。
        </p>
      </div>
    </li>
    <li>
      <img class="list_title" src="images/title_experienced_2.svg" alt="">
      <div class="list_contents">
        <img src="images/img_experienced_2.png" alt="">
        <p class="list_text">
          登録後にエージェントから連絡があった際は、<span class="Highlight">希望条件や転職時期を伝えておきましょう</span>。情報が不足していると、希望の求人が出てきた際に<span
            class="Highlight">後回しにされる可能性</span>もあります。
        </p>
      </div>
    </li>
  </ul>
  <figure class="arrow">
    <img src="images/arrow_experienced.png" alt="">
  </figure>
</section>