<section class="JobChangeTrends">
  <p class="title">\ CHECK! /</p>
  <input id="toggle_check" type="checkbox" class="toggle">
  <label class="expand" for="toggle_check"><span>2月の転職動向</span></label>
  <div class="content">
    <p class="content_title">
      2月は転職活動におすすめ！
    </p>
    <p class="content_text">
      2月は年度末を控え企業が新年度の体制を整える時期で、<span class="Highlight">求人が増える傾向</span>があります。また、1月に開始された求人が出揃い応募者数が落ち着くため、<span
        class="Highlight">ライバルが減りやすい</span>のも魅力です。企業側もスムーズな採用を目指し選考が進みやすい時期といえます。
    </p>
    <aside class="point">
      <p class="point_title">POINT</p>
      <div class="point_contents">
        <p class="point_text">
          早めの応募が重要です。応募先の業界研究や履歴書のブラッシュアップで、他の応募者と差をつけましょう。
        </p>
        <figure class="point_image">
          <img src="images/img_point.png" alt="">
        </figure>
      </div>
    </aside>
  </div>
</section>