<div class="RankingItems">
  <aside class="Item">
    <h3 class="Item_title Item_title-ranking Item_title-no1">ビズリーチ</h3>
    <div class="Item_container">
      <a href="#" class="Item_thumbnail">
        <img src="images/banner/bizreach.jpeg" alt="">
      </a>
      <div class="Item_rating">
        <p class="rate js-rate">4.8</p>
        {{> stars}}
      </div>
      <p class="Item_description">
        <span class="Highlight">年収500万円以上</span>は登録必須！<br>利用満足度No.1のハイクラス転職サービス。
      </p>
      <ul class="Item_info">
        <li class="item">
          <p class="title">求人数</p>
          <p class="text">13.2万件</p>
        </li>
        <li class="item">
          <p class="title">対応エリア</p>
          <p class="text">全国</p>
        </li>
        <li class="item">
          <p class="title">対象年代</p>
          <p class="text">20代後半〜50代後半</p>
        </li>
        <li class="item">
          <p class="title">対応職種</p>
          <p class="text">全職種</p>
        </li>
      </ul>
      <div class="Item_recommend">
        <p class="title">〈 こんな方におすすめ 〉</p>
        <ul class="list">
          <li>現在年収が500万円以上ある</li>
          <li>自分の市場価値がどのくらいか知りたい</li>
          <li>大手・優良企業に転職したい</li>
        </ul>
      </div>
      <div class="Item_cta">
        <a href="#" class="Button Button-full"><span>『ビスリーチ』の</span>公式サイトはこちら</a>
      </div>
      <div class="Item_point">
        <div class="header">
          <figure class="image">
            <img src="images/img_recommend_woman_1.png" alt="">
          </figure>
          <div class="texts">
            <p class="text">『ビズリーチ』担当編集部の</p>
            <img src="images/txt_recommend_point.svg" alt="イチオシポイント">
          </div>
        </div>
        <p class="description">
          ビズリーチにしかない独自の<span class="Highlight">好条件求人を多数保有</span>しています。特に経営幹部・管理職などのプロフェッショナル人材向け高年収求人が多く、<span
            class="Highlight">転職後の平均年収は840万円</span>の実績も。また、優秀なヘッドハンターが5000人以上在籍しており、<span
            class="Highlight">登録するだけでスカウトが受けられる</span>ため、今すぐの転職予定がない方も自分の市場価値を把握する目的で気軽に利用可能です。
        </p>
      </div>
      <div class="Item_user">
        <p class="Item_user_title">
          〈 実際に利用した方のクチコミ 〉
          <span>（一部抜粋）</span>
        </p>
        <aside class="card">
          <figure class="image">
            <img src="images/img_illust_man_1.png" alt="">
          </figure>
          <div class="texts">
            <p class="title">東京都 / 30代 男性</p>
            <p class="text">
              これまで利用していた転職サイトでは、なかなか納得できる求人と出合えませんでしたが、<span
                class="Highlight">ビズリーチでは魅力的な企業の募集が多く</span>、スカウトもたくさんいただきました。ここで転職に対する本気度が高まったと思います。
            </p>
          </div>
        </aside>
        <div class="container js-user-container">
          <aside class="card">
            <figure class="image">
              <img src="images/img_illust_woman_1.png" alt="">
            </figure>
            <div class="texts">
              <p class="title">海外 / 40代 女性</p>
              <p class="text">
                転職活動を始めたタイミングで、<span
                  class="Highlight">複数のヘッドハンターと話す機会</span>を設け『私のどの部分に興味を持ってくれたのですか？』とヒアリングしたり、職務経歴書の書き方を教えてもらったり、たくさんのアドバイスをいただきました。
              </p>
            </div>
          </aside>
          <aside class="card">
            <figure class="image">
              <img src="images/img_illust_man_2.png" alt="">
            </figure>
            <div class="texts">
              <p class="title">東京都 / 40代 男性</p>
              <p class="text">
                お金を出してでもよい求人やヘッドハンターに出会いたいと思い登録しました。職務履歴書を更新したタイミングで、『ストレージの分かる営業』『EMSにいる人材』という要素を満たす私に、<span
                  class="Highlight">今回入社を決めた企業から直接スカウトが届きました</span>。それが、今回の転職を考えるきっかけでした。
              </p>
            </div>
          </aside>
        </div>
        <button class="expand js-user-expand"><span>もっと読む</span></button>
      </div>
      <div class="Item_check">
        <p class="title">
          <img src="images/ico_megaphone.svg" alt="">
          CHECK!
        </p>
        <p class="text">
          会員登録時は<span class="Highlight">必ず簡易職歴書まで記入</span>しましょう。<br>スカウト数の大幅増加によって<br>
          転職成功率が格段に高まります。
        </p>
        <a href="#" class="Button Button-full"><span>『ビスリーチ』の</span>公式サイトはこちら</a>
      </div>
    </div>
  </aside>
  <aside class="Item">
    <h3 class="Item_title Item_title-ranking Item_title-no2">ビズリーチ</h3>
    <div class="Item_container">
      <a href="#" class="Item_thumbnail">
        <img src="images/banner/bizreach.jpeg" alt="">
      </a>
      <div class="Item_rating">
        <p class="rate js-rate">4.8</p>
        {{> stars}}
      </div>
      <p class="Item_description">
        <span class="Highlight">年収500万円以上</span>は登録必須！<br>利用満足度No.1のハイクラス転職サービス。
      </p>
      <ul class="Item_info">
        <li class="item">
          <p class="title">求人数</p>
          <p class="text">13.2万件</p>
        </li>
        <li class="item">
          <p class="title">対応エリア</p>
          <p class="text">全国</p>
        </li>
        <li class="item">
          <p class="title">対象年代</p>
          <p class="text">20代後半〜50代後半</p>
        </li>
        <li class="item">
          <p class="title">対応職種</p>
          <p class="text">全職種</p>
        </li>
      </ul>
      <div class="Item_recommend">
        <p class="title">〈 こんな方におすすめ 〉</p>
        <ul class="list">
          <li>現在年収が500万円以上ある</li>
          <li>自分の市場価値がどのくらいか知りたい</li>
          <li>大手・優良企業に転職したい</li>
        </ul>
      </div>
      <div class="Item_cta">
        <a href="#" class="Button Button-full"><span>『ビスリーチ』の</span>公式サイトはこちら</a>
      </div>
      <div class="Item_point">
        <div class="header">
          <figure class="image">
            <img src="images/img_recommend_woman_1.png" alt="">
          </figure>
          <div class="texts">
            <p class="text">『ビズリーチ』担当編集部の</p>
            <img src="images/txt_recommend_point.svg" alt="イチオシポイント">
          </div>
        </div>
        <p class="description">
          ビズリーチにしかない独自の<span class="Highlight">好条件求人を多数保有</span>しています。特に経営幹部・管理職などのプロフェッショナル人材向け高年収求人が多く、<span
            class="Highlight">転職後の平均年収は840万円</span>の実績も。また、優秀なヘッドハンターが5000人以上在籍しており、<span
            class="Highlight">登録するだけでスカウトが受けられる</span>ため、今すぐの転職予定がない方も自分の市場価値を把握する目的で気軽に利用可能です。
        </p>
      </div>
      <div class="Item_user">
        <p class="Item_user_title">
          〈 実際に利用した方のクチコミ 〉
          <span>（一部抜粋）</span>
        </p>
        <aside class="card">
          <figure class="image">
            <img src="images/img_illust_man_1.png" alt="">
          </figure>
          <div class="texts">
            <p class="title">東京都 / 30代 男性</p>
            <p class="text">
              これまで利用していた転職サイトでは、なかなか納得できる求人と出合えませんでしたが、<span
                class="Highlight">ビズリーチでは魅力的な企業の募集が多く</span>、スカウトもたくさんいただきました。ここで転職に対する本気度が高まったと思います。
            </p>
          </div>
        </aside>
        <div class="container js-user-container">
          <aside class="card">
            <figure class="image">
              <img src="images/img_illust_woman_1.png" alt="">
            </figure>
            <div class="texts">
              <p class="title">海外 / 40代 女性</p>
              <p class="text">
                転職活動を始めたタイミングで、<span
                  class="Highlight">複数のヘッドハンターと話す機会</span>を設け『私のどの部分に興味を持ってくれたのですか？』とヒアリングしたり、職務経歴書の書き方を教えてもらったり、たくさんのアドバイスをいただきました。
              </p>
            </div>
          </aside>
          <aside class="card">
            <figure class="image">
              <img src="images/img_illust_man_2.png" alt="">
            </figure>
            <div class="texts">
              <p class="title">東京都 / 40代 男性</p>
              <p class="text">
                お金を出してでもよい求人やヘッドハンターに出会いたいと思い登録しました。職務履歴書を更新したタイミングで、『ストレージの分かる営業』『EMSにいる人材』という要素を満たす私に、<span
                  class="Highlight">今回入社を決めた企業から直接スカウトが届きました</span>。それが、今回の転職を考えるきっかけでした。
              </p>
            </div>
          </aside>
        </div>
        <button class="expand js-user-expand"><span>もっと読む</span></button>
      </div>
      <div class="Item_buttonWrapper">
        <a href="#" class="Button Button-full"><span>「リクルートエージェント」の</span>公式サイトはこちら</a>
      </div>
    </div>
  </aside>
</div>