<section class="RankingNo1">
  <p class="title">
    <img src="images/ico_megaphone.svg" alt="">
    迷ったらココを選べば安心！
  </p>
  <aside class="Item">
    <h3 class="Item_title Item_title-crown">
      <img src="images/ico_crown_gold.svg" alt="">
      ランキング1位はこちら
    </h3>
    <div class="Item_container">
      <p class="Item_name">ビズリーチ</p>
      <figure class="Item_thumbnail">
        <img src="images/banner/bizreach.jpeg" alt="">
      </figure>
      <div class="Item_rating">
        <p class="rate js-rate">4.8</p>
        {{> stars}}
      </div>
      <ul class="Item_info">
        <li class="item">
          <p class="title">求人数</p>
          <p class="text">約132,000件</p>
        </li>
        <li class="item">
          <p class="title">対応職種</p>
          <p class="text">全職種</p>
        </li>
      </ul>
      <p class="Item_description">
        <span class="Highlight">年収500万円以上</span>は登録必須！<br>利用満足度No.1のハイクラス転職サービス。
      </p>
      <div class="Item_cta">
        <a href="#" class="Button Button-full"><span>『ビスリーチ』の</span>公式サイトはこちら</a>
      </div>
    </div>
  </aside>
</section>