<div class="SearchExpand js-SearchExpand">
  <input id="toggle" type="checkbox" class="toggle">
  <label class="expand" for="toggle"><span>条件で転職サイトを探す</span></label>
  <div class="content">
    <form action="result02.php" method="post" class="search_step_form" id="form_id02">
      <div id="step_area">
        <div class="step_count">
          <ul>
            <li class="active">Q1</li>
            <li>Q2</li>
            <li>Q3</li>
            <li>Q4</li>
          </ul>
        </div>
        <div class="step_title"><span>Q1.</span> 現在のご年齢は？</div>

        <div class="step_body">
          <div class="step radios_wrap not_last open sp_column3" data-title="現在のご年齢は？">
            <div class="wrapper">
              <div class="label_wrap"><label><input type="radio" name="age" value="00"
                    form="form_id02"><span>指定なし</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="20"
                    form="form_id02"><span>～24歳</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="25"
                    form="form_id02"><span>25～29歳</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="30"
                    form="form_id02"><span>30～39歳</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="40"
                    form="form_id02"><span>40～49歳</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="50"
                    form="form_id02"><span>50～59歳</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="age" value="60"
                    form="form_id02"><span>60歳～</span></label></div>
            </div>
          </div>
          <!--Question1-->

          <div class="step radios_wrap not_last column2" data-title="現在の状況は？">
            <div class="wrapper">
              <div class="label_wrap"><label><input type="radio" name="status" value="00"
                    form="form_id02"><span>指定なし</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="01"
                    form="form_id02"><span>正社員</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="02"
                    form="form_id02"><span>契約社員</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="03"
                    form="form_id02"><span>派遣社員</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="04"
                    form="form_id02"><span>バイト・パート</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="05"
                    form="form_id02"><span>無職</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="06"
                    form="form_id02"><span>学生</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="status" value="07"
                    form="form_id02"><span>その他</span></label></div>
            </div>
            <div class="button_wrap">
              <button type="button" class="prev">戻る</button>
            </div>
          </div>
          <!--Question2-->

          <div class="step radios_wrap not_last column2" data-title="現在のご年収は？">
            <div class="wrapper">
              <div class="label_wrap"><label><input type="radio" name="income" value="00"
                    form="form_id02"><span>指定なし</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="01"
                    form="form_id02"><span>～299万円</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="02"
                    form="form_id02"><span>300～399万円</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="03"
                    form="form_id02"><span>400～499万円</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="04"
                    form="form_id02"><span>500～599万円</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="05"
                    form="form_id02"><span>600～699万円</span></label></div>
              <div class="label_wrap"><label><input type="radio" name="income" value="06"
                    form="form_id02"><span>700万円～</span></label></div>
            </div>
            <div class="button_wrap">
              <button type="button" class="prev">戻る</button>
            </div>
          </div>
          <!--Question3-->

          <div class="step radios_wrap column2 touch_submit" data-title="ご希望の職種は？">
            <div class="wrapper">
              <div class="label_wrap"><label><input type="radio" name="occupation" value="01"
                    form="form_id02"><span>営業・セールス・CS<br><small>営業職/カスタマーサポート…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="02"
                    form="form_id02"><span>企画・マーケ・経営<br><small>広告/宣伝/販促/営業企画…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="03"
                    form="form_id02"><span>管理<br><small>会計/財務/法務/広報/人事…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="04"
                    form="form_id02"><span>事務・アシスタント<br><small>営業事務/データ入力/秘書…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="05"
                    form="form_id02"><span>販売・サービス<br><small>接客/販売/店舗運営/運輸…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="06"
                    form="form_id02"><span>コンサルタント<br><small>経営/戦略/アナリスト…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="07"
                    form="form_id02"><span>クリエイティブ職<br><small>デザイナー/ディレクター/編集…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="08"
                    form="form_id02"><span>ITエンジニア職<br><small>SE/プログラマ/保守/インフラ…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="09"
                    form="form_id02"><span>建築・土木技術職<br><small>施工管理/設備管理/設計/積算</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="10"
                    form="form_id02"><span>技術専門職<br><small>化学/機械/食品/他メーカー…</small></span></label>
              </div>
              <div class="label_wrap"><label><input type="radio" name="occupation" value="11"
                    form="form_id02"><span>金融系専門職<br><small>ディーラー/保険専門職/M&amp;A…</small></span></label>
              </div>
            </div>
            <div class="button_wrap">
              <button type="button" class="prev">戻る</button>
              <button type="submit" class="search_start" form="form_id02">結果画面へ</button>
            </div>
          </div>
          <!--Question4-->
        </div>
      </div>
    </form>
  </div>


</div>