<section class="SearchCategories">
  <h3 class="title">カテゴリから探す</h3>
  <input id="toggle_category_1" type="checkbox" class="toggle">
  <label class="expand" for="toggle_category_1">
    <i class="expand_icon"><img src="images/ico_categories_1.svg" alt=""></i>
    <span class="expand_texts">
      <span class="expand_title">職種から探す</span>
      <span class="expand_text">営業・事務・マーケティング・販売など</span>
    </span>
  </label>
  <div class="content">
    <a href="#">営業・セールス</a>
    <a href="#">事務</a>
    <a href="#">マーケティング</a>
    <a href="#">販売・サービス</a>
    <a href="#">コンサルタント</a>
    <a href="#">クリエイター</a>
    <a href="#">IT・エンジニア</a>
  </div>
  <input id="toggle_category_2" type="checkbox" class="toggle">
  <label class="expand" for="toggle_category_2">
    <i class="expand_icon"><img src="images/ico_categories_2.svg" alt=""></i>
    <span class="expand_texts">
      <span class="expand_title">業種から探す</span>
      <span class="expand_text">IT・広告・人材・金融・不動産など</span>
    </span>
  </label>
  <div class="content">
    <a href="#">建設・設備</a>
    <a href="#">IT・通信</a>
    <a href="#">機械・電気</a>
    <a href="#">科学・素材</a>
    <a href="#">商社</a>
    <a href="#">小売・サービス</a>
    <a href="#">旅行・エンタメ</a>
    <a href="#">広告・マスコミ</a>
    <a href="#">人材</a>
    <a href="#">金融・保険</a>
    <a href="#">不動産</a>
  </div>
  <input id="toggle_category_3" type="checkbox" class="toggle">
  <label class="expand" for="toggle_category_3">
    <i class="expand_icon"><img src="images/ico_categories_3.svg" alt=""></i>
    <span class="expand_texts">
      <span class="expand_title">年代から探す</span>
      <span class="expand_text">20代・30代・40代・50代</span>
    </span>
  </label>
  <div class="content">
    <a href="#">20代</a>
    <a href="#">30代</a>
    <a href="#">40代</a>
    <a href="#">50代</a>
  </div>
  <input id="toggle_category_4" type="checkbox" class="toggle">
  <label class="expand" for="toggle_category_4">
    <i class="expand_icon"><img src="images/ico_categories_4.svg" alt=""></i>
    <span class="expand_texts">
      <span class="expand_title">求職者タイプから探す</span>
      <span class="expand_text">ハイクラス・未経験・フリーターなど</span>
    </span>
  </label>
  <div class="content">
    <a href="#">ハイクラス</a>
    <a href="#">第二新卒</a>
    <a href="#">女性</a>
    <a href="#">正社員未登録</a>
    <a href="#">フリーター</a>
    <a href="#">学生</a>
  </div>
</section>