<section class="WhatIsAgent">
  <p class="lead">初めての方必見</p>
  <h3 class="title">転職(就職)エージェントとは？</h3>
  <div class="support">
    <p class="support_title">
      下記について『全て無料』でサポート！
    </p>
    <div class="support_contents">
      <figure class="image">
        <img src="images/img_beginner.png" alt="">
      </figure>
      <ul class="list">
        <li>希望に沿った求人紹介</li>
        <li>書類作成や面接対策</li>
        <li>内定後の年収交渉など</li>
      </ul>
    </div>
    <div class="flow">
      <p class="flow_title">
        こんな不安がある時にサポートいたします
      </p>
      <div class="flow_contents">
        <figure class="image">
          <img src="images/img_beginner_flow.svg" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>