@use "../foundation/pxvw.scss" as vwsp;

.Kv {
  position: relative;
  img {
    width: 100%;
  }
  .date {
    font-size: min(vwsp.vwsp(20), 30px);
    background: white;
    border-radius: 100vh;
    padding: 0.25em 1em;
    display: grid;
    place-items: center;
    position: absolute;
    top: min(vwsp.vwsp(60), 120px);
    left: 50%;
    transform: translateX(-50%);
    span {
      background: linear-gradient(90deg, #b59443, #8a6b1d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
